
.button {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
    border-radius: 8px;
    height: 48px;
    width:192px;
	align-items: center;
	justify-content: center;
	text-decoration: none !important;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: transparent;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 25px;


    &._box {
        background-color: #8A33FD;
        &:hover {
            border: 1px solid #3C4242;
            background-color: #fff;
            color: #8A33FD;
        }
    }

    &._box-underline {
        border: 1px solid #3C4242;
        color: #8A33FD;
        &:hover {
            background-color: #8A33FD;
            color: #fff;
        }
    }

}
